<div class="row">
    <h1>Experiencia Laboral</h1>

    <div class="col-lg-11">
        <ul>
             <li>
                <h1>Educacion 1</h1> - <h3>(years)</h3>
             </li>
             <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni veritatis harum dignissimos tempore laboriosam. Debitis quisquam voluptatibus recusandae autem velit, doloribus repellendus ipsum, nihil vitae facilis quis blanditiis iusto atque.
             </p>
        </ul>
        <ul>
            <li>
               <h1>Educacion 2</h1> - <h3>(years)</h3>
            </li>
            <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni veritatis harum dignissimos tempore laboriosam. Debitis quisquam voluptatibus recusandae autem velit, doloribus repellendus ipsum, nihil vitae facilis quis blanditiis iusto atque.
            </p>
       </ul>
       <ul>
        <li>
           <h1>Educacion 3</h1> - <h3>(years)</h3>
        </li>
        <p>
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni veritatis harum dignissimos tempore laboriosam. Debitis quisquam voluptatibus recusandae autem velit, doloribus repellendus ipsum, nihil vitae facilis quis blanditiis iusto atque.
        </p>
   </ul>
    </div>
</div>