<!-- <div class="row">             
           <div class="col-lg-2">
              <button type="button" class="btn btn-success" routerLink="/nuevades">
                 Agregar Descripcion
              </button>
           </div>

       
         <div class="col-lg-1"></div>
         <div class="col-lg-8">
            <table class="table">
               <tbody>
                  <tr *ngFor="let Descripcion of descripcion">
                     <td><h2>{{Descripcion.nombreE}}</h2></td>
                     <td>{{Descripcion.descripcionE}}</td>
                     <td>
                        <button class="btn btn-success" routerLink="/editdes/{{Educacion.id}}">
                        <i class="bi bi-pencil"></i> Editar</button></td>
                     <td>
                        <button class="btn btn-danger" (click)="delete(Educacion.id)">
                           <i class="bi bi-trash"></i> Borrar</button>
                      </td>
                  </tr>
               </tbody>
            </table>
        </div>
    </div>  
    
</div>
    


<div class="row">
    <div class="col-ms-4 col-ms-2 col-lg-2">
       <div class="col-ms-4">

       </div> 
        <p id="nombre">{{persona.nombre}} Perez </p>
        <p>Full Stack Developer Jr</p>
        <a href="https://github.com/MauroAp/MauroAp.git"><img src="../../../assets/github.png" id="git"></a>
        <a href="https://twitter.com/mauroperez602"><img src="../../../assets/twitter.png" id="git"></a>
    </div>
    
</div> -->