<div class="row">
    <div class="col-ms-2 col-ms-2 col-lg-2" >
        <img src="../../../assets/foto.jpg" class="img-fluid" id="fotoP">
    </div>
    <div class="col-ms-10 col-ms-2 col-lg-10">
            <span>
             <h1>Acerca de Mi</h1>
            
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi qui, alias, temporibus nobis animi voluptatum, ipsa intempora eum saepe explicabo non. Voluptas quo repellendus dicta praesentium corporis laborum reprehenderit?</p>
            </span>
    </div>
    
</div>
    


<div class="row">
    <div class="col-ms-4 col-ms-2 col-lg-2">
       <div class="col-ms-4">

       </div> 
        <p id="nombre">Perez Mauro Agustin</p>
        <p>Full Stack Developer Jr</p>
        <a href="https://github.com/MauroAp/MauroAp.git"><img src="../../../assets/github.png" id="git"></a>
        <a href="https://twitter.com/mauroperez602"><img src="../../../assets/twitter.png" id="git"></a>
    </div>
    
</div>