.row {
    padding: 30px;
}
div{
    background-color:#040b14;
    text-align: center;
    
}
/* el tamaño minimo de la apgina como cambiara, falta ahcer el minimo*/
@media(min-width: 576px){
    #fotoP{
        
        width: 80%;
        border-radius: 100%;
        box-shadow: 3px 3px  3px rgb(37, 37, 37);
    }

}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 2px;
    margin-left: 15px;
}
#git{
    width: 50px;
    margin-top: 10px;
    background-color:black;
    margin-right: 7px;
}

