<!-- <div class="row">


    <div class="col-lg-2">
        <button type="button" class="btn btn-success" routerLink="/nuevadato">
            Agregar Datos Personales
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <table class="table">
            <tbody>
                <tr *ngFor="let Datos of datos">
                    <div class="col-ms-4 col-ms-2 col-lg-2">

                        <img src="{{DatosP.imgP}}" alt="img-proyecto">
                        <td>
                            <h2>{{DatosP.nombreP}}</h2>
                        </td>
                        <td>
                            <h2>{{DatosP.descripcionP}}</h2>
                        </td>

                        <a href="https://github.com/MauroAp/MauroAp.git"><img src="../../../assets/github.png"
                                id="git"></a>
                        <a href="https://twitter.com/mauroperez602"><img src="../../../assets/twitter.png" id="git"></a>


                    </div>



                    <td>

                        <button class="btn btn-success" routerLink="/editdato/{{DatosP.id}}">
                            <i class="bi bi-pencil"></i> Editar</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="delete(DatosP.id)">
                            <i class="bi bi-trash"></i> Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
 -->



    <!-- <div class="row"> 
   <div class="col-lg-2">
      <button type="button" class="btn btn-success" routerLink="/nuevapro">
         Agregar Proyecto
      </button>
   </div>
 
   <div class="col-lg-1"></div>
      <table class="table">
         <tbody>
            <div class="col-ms-2 col-ms-2 col-lg-2" >
                <img src="../../../assets/foto.jpg" class="img-fluid" id="fotoP">
            </div>

            <div class="col-ms-10 col-ms-2 col-lg-10">
            <tr *ngFor="let Proyecto of proyecto">



         <div class="col-sm-12 col-md-3 col-lag-3 offset-md-1 parte2">

                <td><h2>{{Descripcion.nombreE}}</h2></td>
                <td>{{Descripcion.descripcionE}}</td>
                  <a href="{{Proyecto.descripcionP}}"><img src="{{Proyecto.imgP}}" alt="img-proyecto"> </a>


                <div class="row">
                    <div class="col-ms-4 col-ms-2 col-lg-2">
                       <div class="col-ms-4">
                
                       </div> 
                        <p id="nombre">{{persona.nombre}} Perez </p>
                        <p>Full Stack Developer Jr</p>
                        <a href="https://github.com/MauroAp/MauroAp.git"><img src="../../../assets/github.png" id="git"></a>
                        <a href="https://twitter.com/mauroperez602"><img src="../../../assets/twitter.png" id="git"></a>
                    </div>
                    
                </div>
                </div>
            <td>
                  <button class="btn btn-success" routerLink="/editpro/{{Proyecto.id}}">
                  <i class="bi bi-pencil"></i> Editar</button></td>
               <td>
                  <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                     <i class="bi bi-trash"></i> Borrar</button>
                </td>
            </tr>
         </tbody>
      </table>
 
</div> -->