<div class="row">
    <div class="Col-ms-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        
        imageSrc="'../../../assets/html.png"
        [showImage]="true"

        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="Col-ms-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"

        imageSrc="'../../../assets/CSS.png"
        [showImage]="true"        
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="Col-ms-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        imageSrc="'../../../assets/argular.png"
        [showImage]="true"        
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="Col-ms-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        imageSrc="'../../../assets/grupal.png"
        [showImage]="true"        
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="Col-ms-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        imageSrc="'../../../assets/js.png"
        [showImage]="true"        
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="Col-ms-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        imageSrc="'../../../assets/spring.png"
        [showImage]="true"        
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
</div>