<div class="row">
    <h1>proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lag-7 parte1">
            <h1>Proyecto1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla a sed quis corporis, consectetur voluptatum nam consequuntur voluptatem ipsum, sapiente obcaecati facere repudiandae magnam exercitationem assumenda soluta perspiciatis, repellendus cum?</p>
            
        </div>
        <div class="col-sm-12 col-md-3 col-lag-3 offset-md-1 parte2">
            
            <img src="" class="img-fluid img-proyecto">
        </div>

    </div>

</div>