<div class="row">
   <h1>Proyectos Realizados</h1>

      <button type="button" class="btn btn-success" routerLink="/nuevapro">
         Agregar Proyecto
      </button>

   <div class="col-lg-1"></div>
   <div class="col-lg-11">
      <table class="table">
         <tbody>
            <tr *ngFor="let Proyecto of proyecto">
               <td>
                  <h2>{{Proyecto.nombreP}}</h2>
               </td>

               <div class="col-sm-12 col-md-3 col-lag-3 offset-md-1 parte2">
                  <a href="{{Proyecto.descripcionP}}"><img src="{{Proyecto.imgP}}" class="img-fluid img-proyecto"> </a>

               </div>
               <td>
                  <button class="btn btn-success" routerLink="/editpro/{{Proyecto.id}}">
                     <i class="bi bi-pencil"></i> Editar</button>
               </td>
               <td>
                  <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                     <i class="bi bi-trash"></i> Borrar</button>
               </td>
            </tr>
         </tbody>
      </table>
   </div>